# Backup files from emacs
*~
#*
.#*
\#*

# Python stuff
*.pyc
__pycache__
*.egg-info/*
dist/*

# Data files
examples/data/*
!examples/data/README
*.nc

# Release files
*.in


# Build directories
build/
doc/build

# Latex-stuff
*.tex
*.aux
*.log
*.out

# pycharm stuff
.idea
