# Backup files from emacs
*~
#*
.#*
\#*

# Python stuff
*.pyc
__pycache__
*.egg-info/*
dist/*

# Data files
examples/data/*
!examples/data/README.rst
*.nc
*.npy

# Release files
*.rls

# Build directories
build/
doc/build

# Latex-stuff
*.pdf
*.tex
*.aux
*.log
*.out

# pycharm stuff
.idea

# visual studio code stuff
.vscode

# Cache
.cache
.pytest_cache
.mypy_cache
